<app-auth-content>
    <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i>Upload Image</h1>
    
        </div>
        <!-- <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Blank Page</a></li>
        </ul> -->
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="card" >
                <div class="card-body">
                  <form 
                 
                  (ngSubmit)="onClickSubmit()"> 
                   <!-- (ngSubmit)="onSubmit()" -->
                   <div class="text-center">
                    <img src="assets/image/upload.png" width="350px" height="250px" >
                    <div class="file">
                      <label class="file-label">
              
                      <input class="file-input" type="file" (change)="startUpload($event.target.files)">
              
                    
                      </label>
                    </div>
                  
                </div>
                 

                  <div *ngIf="uploadPercentage$ | async as pct">
                    <progress class="progress is-info" 
                        [value]="pct" 
                        max="100">        
              </progress>
            
              {{ pct | number }}%
             
                </div>
               



                  
                    <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="date">วันที่ถ่ายภาพ</label>
                              <input type="text" placeholder="01/01/2001"class="form-control" bsDatepicker 
                              [bsConfig]="{ adaptivePosition: true }"  name="date" ngModel [(ngModel)]="upload.date">
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="farmname">ชื่อฟาร์ม</label>
                              <input class = "form-control" type="text" name="name" ngModel [(ngModel)]="upload.name">
                          </div>
                      </div>
                    
                     
                    
                  </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <a routerLink="/process" class="btn btn-primary btn-block float-right">Next Image</a>
                      </div>

                      <div class="form-group col-md-6">
                        <button    type="submit" class="btn btn-success btn-block float-right">ProcessImage</button>
                      </div>


                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
        <th>No#</th>
        <th>Image</th>
        <th>Name</th>
        
        <th>Date-Time</th>
        
        <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items | async; let i = index;">
        <td>{{i+1}}</td>
        <td><img src="{{item.payload.val().imageUrl}}" height="50px"></td>
        <td>{{item.payload.val().name}}</td>
        
        <td>{{item.payload.val().timestamp | date: 'dd/MM/yyyy - HH:mm'}}</td>
        <td style="text-align: center">
        <button (click)="onClickDelete(item)" type="button" class="btn btn-danger">DEL</button>
        <!-- <button (click)="onClickPayment(item)" type="button" class="btn btn-success">PAY</button> -->
        </td>
        </tr>
        </tbody>
        </table>
</app-auth-content>
